/** Estilos generales */
body {
  font-family: "Comic Neue", cursive;
  background-color: #f2fbf9;
  font-size: 1em;
  cursor: url("./img/extra/cursor.svg"), auto;
}

.container {
  max-width: 1200px;
}

/** Estilos para el header */
header {
  background-color: #1d4440;
  color: #f2fbf9;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  position: sticky;
  top: 5px;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 70px;
  padding-left: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
 
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  font-size: 1em;
  color: #f2fbf9;
  text-decoration: none;
  cursor: url("./img/extra/cursor2.svg"), auto;
}

nav ul li a:hover {
  color: yellowgreen;
}

nav ul li a img {
  width: 30px;
  margin: 0;
  padding: 0;
}

.carrito-icon {
  display: flex;
  align-items: center;
}

.contador {
  background-color: #f2fbf9;
  color: #1d4440;
  border-radius: 30%;
  padding: 8px;
  margin-left: 5px;
}

/** Estilos para el main */
main {
  padding: 0 0 15px 0;
}

section {
  width:97%;
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

section h2 {
  background-color: #20655d;
  color: #f2fbf9;
  border-radius: 5px;
  padding: 5px;
  font-size: medium;
  margin-bottom: 10px;
  text-align: center;
}

/** Estilos para el footer */
footer {
  background-color: #1d4440;
  color: #f2fbf9;
  border-radius: 5px;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer h5 {
  margin: 0;
}

footer ul li {
  display: inline;
  margin-right: 5px;
}

footer ul li svg {
  width: 24px;
  height: 24px;
  fill: #f2fbf9;
}

/* Estilos para Facebook */
.facebook:hover svg {
  fill: #1877f2; /* Azul de Facebook */
}

/* Estilos para Instagram */
.instagram:hover svg {
  fill: #c13584; /* Morado de Instagram */
}

/* Estilos para WhatsApp */
.whatsapp:hover svg {
  fill: #25d366; /* Verde de WhatsApp */
}

footer img {
  width: 70px;
  padding-left: 10px;
}

/** Estilos para los formularios */
form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  cursor: url("./img/extra/cursor.svg"), auto !important;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: url("./img/extra/cursor2.svg"), auto !important;
}

button {
  width: 75%;
  padding: 5px;
  border-radius: 13px;
  background-color: #0b2826;
  color: #fff;
  cursor: pointer;
  
}

button:hover {
  background-color: #20655d;
}

/** Estilos de Seccion INICIO */

#inicio {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 3px;
}

#inicio p,
h3 {
  margin: 5px;
  margin-top: 10px;
}

#inicio h3 {
  height: 40px;
  overflow: hidden;
}

#productosOferta {
  display: flex;
  justify-content: space-between;
}
.tarjetaOfertas {
  display: inline-block;
  padding: 10px;
  width: 28%;
  text-align: center;
}

.tarjetaOfertas img {
  -webkit-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.43);
  width: 95%;
  border-radius: 5px;
  border: 1px solid #d4f3eb;
  transition: transform 0.3s ease;
}

.tarjetaOfertas img:hover {
  border-radius: 10px;
  border: 1px solid #0b2826;
  transform: scale(1.1);
}

#buscador {
  padding-left: 5px;
  border-radius: 10px;
}

#resultados {
  text-align: center;
}

#buscador input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/** Estilos de Seccion PRODUCTOS */
.producto img {
  width: 100%;
  height: auto;
}

.productos{
  display: grid;
  grid-auto-flow: dense;
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(10rem, auto);
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1em;
  margin: 10px;
}
.producto{
  -webkit-box-shadow: 0px 0px 6px 1px rgba(26,68,64,0.3);
  -moz-box-shadow: 0px 0px 6px 1px rgba(26,68,64,0.3);
  box-shadow: 0px 0px 6px 1px rgba(26,68,64,0.3);

  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  padding-bottom: 15px;
}
.producto:hover{
  transform: scale(1.05);
  position: relative;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(26,68,64,1);
  -moz-box-shadow: 0px 0px 6px 1px rgba(26,68,64,1);
  box-shadow: 0px 0px 6px 1px rgba(26,68,64,1);
}
.oferta p{
  margin: auto;
  padding: 0;
  background-color: rgb(230, 245, 20);
}

/** Estilos de media query */

/* Pantalla grande (escritorio): */
@media all and (min-width: 1024px) {
}
/* Pantalla mediana (tabletas): */
@media all and (min-width: 768px) and (max-width: 1023px) {
}
/* Pantalla pequeña (teléfonos): */
@media all and (max-width: 767px) {
}

/** Estilos de media query INICIO */

@media all and (max-width: 767px) {
  #inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #buscador {
    display: inline-block;
    width: 70%;
    padding: 10px;
  }
}

/** Estilo seccion Conctato*/

.colorIconoRedes{
  fill: #20655d;
}
.colorFondoFormulario{
  background-color: #eefdca;
  color: black;
  font-weight: bold;
}
.btnColorEnviar{
  background-color:#a5e925 ;
  color: white;
  font-weight: bold;
}
.btnColorEnviar:hover{
  background-color:#8bd012 ;
}

/**Estilo seccion servicios */
.grilla {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 14px;
  padding: 20px;
}

.grilla div img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.tipoServicio{
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
}

.textoServicio{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  padding: 10px;
  box-sizing: border-box;
  font-size: 25px;
  font-weight: bold;
}

.tipoServicio:hover *{
  transform: translateY(8px);
  opacity: 1;
}
