/** Estilos generales */
body {
  font-family: "Comic Neue", cursive;
  background-color: #f2fbf9;
  font-size: 1em;
}

.container {
  max-width: 1200px;
}

/** Estilos para el header */
header {
  background-color: #1d4440;
  color: #f2fbf9;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  position: sticky;
  top: 5px;
  z-index: 1000;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 10%;
  padding-left: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; 
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  font-size: 1em;
  color: #f2fbf9;
  text-decoration: none;
}

nav ul li a img {
  width: 30px;
  margin: 0;
  padding: 0;
}

.carrito-icon {
  display: flex;
  align-items: center;
}

.contador {
  background-color: #f2fbf9; 
  color: #1d4440; 
  border-radius: 30%; 
  padding:  8px; 
  margin-left: 5px; 
}

/** Estilos para el main */
main {
  padding: 0 0 15px 0;
}

section {
  background-color: #a9e6d8;
  width: 97%;
  height: 100%;
  margin: 0 auto;
  border-radius: 10px;
}

section h2 {
  background-color: #20655d;
  color: #f2fbf9;
  border-radius: 5px;
  padding: 5px;
  font-size: medium;
  margin-bottom: 10px;
  text-align: center;
}

section#productos .carrusel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contacto {
  width: 85%;
}

/** Estilos para el footer */
footer {
  background-color: #1d4440;
  color: #f2fbf9;
  border-radius: 5px;
  padding: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer h5 {
  margin: 0;
}

footer ul li {
  display: inline;
  margin-right: 5px;
}

footer ul li svg {
  width: 24px;
  height: 24px;
  fill: #f2fbf9;
}

/* Estilos para Facebook */
.facebook:hover svg {
  fill: #1877f2; /* Azul de Facebook */
}

/* Estilos para Instagram */
.instagram:hover svg {
  fill: #c13584; /* Morado de Instagram */
}

/* Estilos para WhatsApp */
.whatsapp:hover svg {
  fill: #25d366; /* Verde de WhatsApp */
}

footer img {
  width: 8%;
  padding-left: 10px;
  fill: rgb(212, 243, 235);
  stroke: rgba(180, 47, 47, 0.43);
}

/** Estilos para los formularios */
form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #0b2826;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: 0B2826;
}

/** Estilos de Seccion INICIO */

#inicio {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 3px;
}

#inicio p,
h3 {
  margin: 5px;
  margin-top: 10px;
}

.tarjetaOfertas {
  display: inline-block;
  padding: 10px;
  width: 28%;
  text-align: center;
}

.tarjetaOfertas img {
  -webkit-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.43);
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.43);
  width: 95%;
  border-radius: 3px;
  border: 1px solid #d4f3eb;
  transition: transform 0.3s ease;
}

.tarjetaOfertas img:hover {
  border-radius: 10px;
  border: 1px solid #0b2826;
  transform: scale(1.1);
}

#buscador {
  align-content: center;
  padding: 5px;
  border-radius: 10px;
}

#buscador input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.productos_todos {
  display: grid;
  gap: 1em;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(10rem, auto);
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  margin: 10px;
}

.imagen_productos img {
  width: 100%;
  max-width: 100%;
  padding: 10px;
  height: auto;
  border-radius: 10%;
}

.imagen_productos {
  display: flex;
  justify-content: center;
  text-align: center;
}
